@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: Helvetica, Arial, sans-serif;
  color: $fontColor;
  overflow: hidden;
}
#root {
  height: 100vh;
  overflow: auto;
}

input[type="text"],
textarea {
  width: 100%;
}
textarea {
  @include shadow;
  min-height: 5rem;
}
.content {
  padding: 1rem;
}

input,
textarea {
  background-color: $fgColor;
  border: 0px;
  @include inputSpacing;
}

button {
  @include inputSpacing;
  background-color: $mainColorBg;
  border: 1px solid $mainColor;
  border-radius: 0.3rem;
  @include shadow;
  transition: all ease-in-out 0.2s;
  &:hover {
    cursor: pointer;
    box-shadow: none;

    // background-color: transparent;
  }
  &:active {
    box-shadow: none;
    background-color: transparent;
  }
}
textarea:focus,
input:focus,
button:focus {
  outline-color: $mainColor;
}
h2 {
  font-weight: 100;
}
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.circle-icon {
  border: 1px solid grey;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 50%;
  background-color: $fgColor;
}
.color1 {
  background-color: $color1;
}
.color2 {
  background-color: $color2;
}
.color3 {
  background-color: $color3;
}
.color4 {
  background-color: $color4;
}
.color5 {
  background-color: $color5;
}
.day {
  margin: 0.5rem 0;
  h2 {
    text-align: center;
  }
  h3 {
    margin-left: 1rem;
    padding: 0.5rem 0 0 1.5rem;
    line-height: 3rem;
    border-left: 2px solid $grey;
    .circle-icon {
      background-color: $mainColor;
      color: $fgColor;
      margin-left: -2.5rem;
      margin-right: 1rem;
    }
  }
}
.food-type-picker {
  .picker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $fontColor;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .picker-content {
    @include shadow;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: $fgColor;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    color: $fgColor;
    li {
      margin: 0.5rem 0;
      line-height: 1.5rem;
      @include shadow;
      .check {
        display: none;
      }

      &.selected {
        box-shadow: none;
        border-radius: 3px;
        outline: 1px solid $fgColor;
        outline-offset: -3px;
        .check {
          display: inherit;
        }
      }
    }
  }
}
.meal {
  ul {
    background-color: $fgColor;
    list-style-type: none;
    li {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      .actions {
        align-items: center;
        display: flex;
        a {
          padding: 0.5rem;
          margin-left: 2rem;
        }
      }
    }
  }
  .mealContent {
    @include shadow;
  }
}
.export-import {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  & > div {
    margin: 1rem;
  }
}
