$bgColor: #f8f8f8;
$fgColor: #fefefe;
$shadow: #888;
$fontColor: #333;
$mainColor: #8bc34a;
$secondaryColor: #ff9800;
$mainColorBg: lighten(#8bc34a, 30);
$grey: #999;

@mixin shadow {
  box-shadow: 0 1px 3px $shadow;
}

@mixin inputSpacing {
  padding: 0.3rem 0.5rem;
}
